<div class="toolbar" role="banner">
  <a [routerLink]="['/home']">
    <img
      alt="Doge"
      src="assets/image/doge.png"
      height="50"
    />
  </a>

  <div class="menu-button">
    <a [routerLink]="['/coins']" class="header-button"><em class="material-icons">currency_bitcoin</em>Coin Metrics</a>
    <a [routerLink]="['/tickets']" class="header-button"><em class="material-icons">confirmation_number</em>Transport ticket</a>
  </div>

  <a [routerLink]="['/home']" class="header-button"><em class="material-icons">login</em>Login </a>
</div>



